/*--------------------------------------------------------------------------------*/
/* Custom fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*--------------------------------------------------------------------------------*/
/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/*--------------------------------------------------------------------------------*/
/* App CSS */
:root {
  --navbar-height: 80px;
}
.App {
  padding: var(--navbar-height) 0 0 0;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

/*--------------------------------------------------------------------------------*/
/* Navbar CSS */
nav.navbar {
  background-color: #1d191b;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav.navbar img {
  width: 50px;
  height: 50px;
}

nav.navbar .navbar-brand {
  margin-left: 20px;
  flex: 1 1 auto;
}

nav.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
}

nav.navbar .navbar-nav .nav-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  text-align: center;
}

nav.navbar .navbar-nav .nav-link:hover,
nav.navbar .navbar-nav .nav-link.active {
  opacity: 1;
}

/* Scrolled NavBar CSS */
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

/*--------------------------------------------------------------------------------*/
/* Home Page */
.home {
  background-color: #121212;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

/*--------------------------------------------------------------------------------*/
/* Welcome Message */
.welcomeMSG {
  background-image: linear-gradient(90.21deg, #2a2a2a -5.91%, #070707 111.58%);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.welcomeMSG h1, h2 {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  width: 80%;
}
.welcomeMSG h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  width: 60%;
}
.welcomeMSG h4 {
  padding: 40px 0;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  width: 60%;
}

/*--------------------------------------------------------------------------------*/
/* Model Showcase */
.modelShowcase {
  height: auto;
  padding: 80px 0;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modelShowcase h1, h2 {
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 80vw;
}
.modelShowcase p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: auto;
  text-align: center;
  width: 56%;
}

/*--------------------------------------------------------------------------------*/
/* Model CSS */
.model {
  padding: 80px 0;
  position: relative;
}
.model-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.model-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.model-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.model-imgbx:hover::before {
  height: 100%;
}
.model-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.model-imgbx:hover .model-txtx {
  top: 50%;
  opacity: 1;
}

/*--------------------------------------------------------------------------------*/
/* Error CSS */
.error {
  background-image: linear-gradient(90.21deg, #070707 -5.91%, #2a2a2e 111.58%);
  padding: 80px 0;
  position: relative; 
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error h1 {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}
.error h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.error img {
  width: 50%;
}